.shop_info {
    font-size: 30px;
}

.home_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.logo_home {
    width: 400px;
    height: auto;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph {
    font-size: 30px;
}
