.card_item {
    border-radius: 20px; 
    width: 300px;
    height: auto;
}

.card_item img {
    width: 300px;
    height: auto;
}

.card_item h2 {
    font-size: 35px;
}

.card_item p {
    font-size: 32px;
}