.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav_link {
    font-size: 35px;
    color: white;
    margin: 0px;
}

.nav_item a {
    text-decoration: none;     
}

.header_div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.header_logo {
    position: absolute;
    left: 50px;

    .header_img {
        width: 250px;
        height: auto;
        display: flex;
    }
}

.nav_container {
    width: 35%;
}