.shopping_cart_buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    .back_s {
        font-size: 30px;
        font-weight: 500;
        color: #ffffff;
        margin-right: 50px;
        padding: 8px 16px;
        cursor: pointer;
    }

    .continue_s {
        font-size: 30px;
        color: #ffffff;
        font-weight: 500;
        padding: 8px 16px;
        cursor: pointer;
    }
}

.total {
    font-size: 40px;
}