.go_back_button, .add_to_cart_button {
    margin-top: 0px;
    background-color: rgb(96, 96, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 65px;
    width: 200px;
    border: 0;
    font-size: 30px;
    text-decoration: none;
    color: white;
    margin: 0px;
}